openapi: 3.2.0
info:
  title: tZERO Institutional API Documents Vaults API
  description: '## Overview


    The **tZERO Institutional API** — programmatic access to transfer-agent, tokenization, and custody operations for institutional issuers and partners.'
  version: 1.1.0
  contact:
    name: T0kenizer API Support
    email: api@t0direct.com
servers:
- url: https://api.t0direct.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Vaults
  description: Custody vaults and their asset wallets
paths:
  /api/v1/custody/vaults:
    get:
      summary: List custody vaults
      tags:
      - Vaults
      description: Returns the custody vaults owned by the authenticated issuer, each with its asset wallets.
      parameters:
      - schema:
          type: integer
          default: 1
          minimum: 1
        in: query
        name: page
        required: false
      - schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 200
        in: query
        name: perPage
        required: false
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/def-6'
                  pagination:
                    $ref: '#/components/schemas/def-0'
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
      operationId: getApiV1CustodyVaults
      x-operation-id-source: derived
  /api/v1/custody/vaults/{id}:
    get:
      summary: Get custody vault
      tags:
      - Vaults
      description: Returns a single custody vault (with wallets) owned by the authenticated issuer.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Vault ID
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/def-6'
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
      operationId: getApiV1CustodyVaultsById
      x-operation-id-source: derived
  /api/v1/custody/vaults/{id}/balances:
    get:
      summary: Get live vault balances
      tags:
      - Vaults
      description: Returns live custody-provider balances for a vault owned by the authenticated issuer. Returns 503 if custody is not configured in this environment.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Vault ID
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
        '503':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
      operationId: getApiV1CustodyVaultsByIdBalances
      x-operation-id-source: derived
components:
  schemas:
    def-6:
      type: object
      description: A Fireblocks-backed custody vault owned by the issuer.
      properties:
        id:
          type: string
        name:
          type: string
        fireblocksVaultId:
          type: string
        createdAt:
          type: string
          format: date-time
        wallets:
          type: array
          items:
            $ref: '#/components/schemas/def-5'
        _count:
          type: object
          properties:
            wallets:
              type: integer
            transfers:
              type: integer
      title: CustodyVault
    def-0:
      type: object
      properties:
        total:
          type: integer
          description: Total number of matching records
        page:
          type: integer
          description: Current page number
        perPage:
          type: integer
          description: Records per page
        totalPages:
          type: integer
          description: Total number of pages
      title: PaginationMeta
    def-5:
      type: object
      description: An asset wallet inside a custody vault.
      properties:
        id:
          type: string
        assetId:
          type: string
          description: Fireblocks asset id (e.g. ETH_TEST5, USDC)
        address:
          type:
          - string
          - 'null'
        tag:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
      title: CustodyWallet
    def-1:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: T0K-V1-INV-001
            message:
              type: string
              example: Investor not found
      title: ErrorResponse
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key generated at app.t0kenizer.com/ta/api-keys
