openapi: 3.2.0
info:
  title: Issuance & Secondary Markets Authorization API
  description: APIs to Create Individual broker dealer accounts, Trigger KYC on the investors in the account, Review account information and KYC results, View Primary offering that are available to invest and manage investments in the assets.
servers:
- url: https://gateway-web-api.tzero.com/app
tags:
- name: Authorization
paths:
  /auth/v1/api/token:
    post:
      tags:
      - Authorization
      summary: Get Bearer token
      operationId: loginUsingPOST
      security:
      - x-api-key: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
              example:
                accessToken: Bearer eyJraWQiOiJhdXRoLWpYzEtZWEIjoiM0xDYjVuWG1s...
                expiresIn: 3600
                refreshToken: 2368f1ba-5670-4095-b2bc-89745f5a1234
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
            example:
              clientId: some-client-id
              clientSecret: some-strong-secret
  /auth/v1/api/refresh:
    post:
      tags:
      - Authorization
      summary: Refresh Token
      operationId: refreshTokenUsingPOST
      security:
      - x-api-key: []
        bearerAuth: []
        refreshToken: []
      parameters:
      - name: refreshToken
        in: header
        required: true
        schema:
          type: string
        description: refreshToken
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Message'
                - $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    TokenResponse:
      type: object
      required:
      - accessToken
      - expiresIn
      properties:
        accessToken:
          type: string
        expiresIn:
          type: number
        refreshToken:
          type: string
      title: TokenResponse
    Message:
      type: object
      required:
      - code
      - data
      - message
      properties:
        code:
          type: string
        data:
          type: object
          additionalProperties: true
        message:
          type: string
      title: Message
    TokenRequest:
      type: object
      required:
      - clientId
      - clientSecret
      properties:
        clientId:
          type: string
        clientSecret:
          type: string
      title: TokenRequest
  securitySchemes:
    x-api-key:
      type: apiKey
      in: header
      name: x-apikey
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    refreshToken:
      type: refreshToken
      in: header
      name: refreshToken
