openapi: 3.2.0
info:
  title: Issuance & Secondary Markets Balance API
  description: APIs to Create Individual broker dealer accounts, Trigger KYC on the investors in the account, Review account information and KYC results, View Primary offering that are available to invest and manage investments in the assets.
servers:
- url: https://gateway-web-api.tzero.com/app
tags:
- name: Balance
  description: Retrieving fiat balances and asset position balances for an account.
paths:
  /pi/v1/accounts/{accountId}/balances:
    get:
      tags:
      - Balance
      summary: Get Account Balance
      description: Returns fiat balances and asset positions for the requested account.
      operationId: getAccountBalance
      security:
      - x-api-key: []
        bearerAuth: []
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
        description: Account ID.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountBalanceResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Account not found
        '500':
          description: Internal Server Error
components:
  schemas:
    FiatBalance:
      type: object
      properties:
        currency:
          type: string
          example: USD
        totalAmount:
          type: number
          format: double
          description: Cash amount representing the total buying power in the account. This includes amount that is unseasoned.
        availableWithdrawalAmount:
          type: number
          format: double
          description: Seasoned fiat cash balance available for transfer to an external linked bank accounts.
        pendingDepositAmount:
          type: number
          format: double
          description: Amount that represents a Pending Incoming Transfer from a Bank.
        pendingWithdrawalAmount:
          type: number
          format: double
          description: Amount that representing a Pending Outgoing Transfer to a Bank. Subject to approval for processing the transfer.
    BalanceDetails:
      type: object
      properties:
        accountId:
          type: string
        fiat:
          type: array
          items:
            $ref: '#/components/schemas/FiatBalance'
        positions:
          type: array
          items:
            $ref: '#/components/schemas/PositionBalance'
    CostBasis:
      type: object
      required:
      - currency
      - totalQuantity
      - totalCost
      - averageCost
      properties:
        currency:
          type: string
          example: USD
          description: Represents currency for this cost basis calculation.
        totalQuantity:
          type: number
          format: double
          description: Quantity of the asset taken in to account for the cost basis.
        totalCost:
          type: number
          format: double
          description: Total cost incurred while trading the Quantity of the asset.
        averageCost:
          type: number
          format: double
          description: Average cost incurred for the asset.
    PositionBalance:
      type: object
      properties:
        symbol:
          type: string
          example: TZROP
        quantity:
          type: number
          format: double
          description: Quantity of the asset held in the user's account
        tradeable:
          type: boolean
          example: true
          description: Indicates if the asset held can ne traded by ATS.
        costBasis:
          $ref: '#/components/schemas/CostBasis'
    AccountBalanceResponse:
      type: object
      properties:
        accountBalances:
          $ref: '#/components/schemas/BalanceDetails'
  securitySchemes:
    x-api-key:
      type: apiKey
      in: header
      name: x-apikey
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    refreshToken:
      type: refreshToken
      in: header
      name: refreshToken
