openapi: 3.2.0
info:
  title: tZERO Institutional API Documents Deployments API
  description: '## Overview


    The **tZERO Institutional API** — programmatic access to transfer-agent, tokenization, and custody operations for institutional issuers and partners.'
  version: 1.1.0
  contact:
    name: T0kenizer API Support
    email: api@t0direct.com
servers:
- url: https://api.t0direct.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Deployments
  description: On-chain instances of tokens and their operation history
paths:
  /api/v1/deployments/:
    get:
      summary: List deployments
      tags:
      - Deployments
      description: Returns a paginated list of on-chain deployments for the authenticated issuer. Optionally filter by tokenConfigId.
      parameters:
      - schema:
          type: integer
          default: 1
          minimum: 1
        in: query
        name: page
        required: false
        description: Page number
      - schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 200
        in: query
        name: perPage
        required: false
        description: Results per page
      - schema:
          type: string
        in: query
        name: tokenConfigId
        required: false
        description: Filter to one token configuration
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/def-3'
                  pagination:
                    $ref: '#/components/schemas/def-0'
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
      operationId: getApiV1Deployments
      x-operation-id-source: derived
  /api/v1/deployments/{id}:
    get:
      summary: Get deployment
      tags:
      - Deployments
      description: Returns a single deployment owned by the authenticated issuer.
      parameters:
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Deployment ID
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/def-3'
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
      operationId: getApiV1DeploymentsById
      x-operation-id-source: derived
  /api/v1/deployments/{id}/operations:
    get:
      summary: List deployment operations
      tags:
      - Deployments
      description: Returns the on-chain operation history (mint, burn, transfer, role changes, …) for a deployment owned by the authenticated issuer.
      parameters:
      - schema:
          type: integer
          default: 1
          minimum: 1
        in: query
        name: page
        required: false
      - schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 200
        in: query
        name: perPage
        required: false
      - schema:
          type: string
        in: path
        name: id
        required: true
        description: Deployment ID
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/def-4'
                  pagination:
                    $ref: '#/components/schemas/def-0'
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
        '404':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
      operationId: getApiV1DeploymentsByIdOperations
      x-operation-id-source: derived
components:
  schemas:
    def-4:
      type: object
      description: A logged on-chain operation against a deployment (MINT, BURN, TRANSFER, …).
      properties:
        id:
          type: string
        operation:
          type: string
          example: MINT
        params:
          type:
          - object
          - 'null'
          additionalProperties: true
        txHash:
          type:
          - string
          - 'null'
        txStatus:
          type: string
          example: CONFIRMED
        error:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
      title: Operation
    def-0:
      type: object
      properties:
        total:
          type: integer
          description: Total number of matching records
        page:
          type: integer
          description: Current page number
        perPage:
          type: integer
          description: Records per page
        totalPages:
          type: integer
          description: Total number of pages
      title: PaginationMeta
    def-3:
      type: object
      description: An on-chain instance of a token configuration on a specific chain/network.
      properties:
        id:
          type: string
        tokenConfigId:
          type: string
        chain:
          type: string
          description: Target chain (e.g. ETHEREUM, POLYGON, BESU)
        network:
          type: string
          description: MAINNET / TESTNET / DEVNET
        contractAddress:
          type:
          - string
          - 'null'
        txHash:
          type:
          - string
          - 'null'
        status:
          type: string
          example: DEPLOYED
        walletAddress:
          type:
          - string
          - 'null'
        deployedAt:
          type:
          - string
          - 'null'
          format: date-time
        createdAt:
          type: string
          format: date-time
      title: Deployment
    def-1:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: T0K-V1-INV-001
            message:
              type: string
              example: Investor not found
      title: ErrorResponse
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key generated at app.t0kenizer.com/ta/api-keys
