openapi: 3.2.0
info:
  title: tZERO Institutional API Documents Custody Transfers API
  description: '## Overview


    The **tZERO Institutional API** — programmatic access to transfer-agent, tokenization, and custody operations for institutional issuers and partners.'
  version: 1.1.0
  contact:
    name: T0kenizer API Support
    email: api@t0direct.com
servers:
- url: https://api.t0direct.com
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Custody Transfers
  description: Transfers of assets out of custody vaults
paths:
  /api/v1/custody/transfers:
    get:
      summary: List custody transfers
      tags:
      - Custody Transfers
      description: Returns custody transfers across the authenticated issuer's vaults. Optionally filter by vaultId.
      parameters:
      - schema:
          type: integer
          default: 1
          minimum: 1
        in: query
        name: page
        required: false
      - schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 200
        in: query
        name: perPage
        required: false
      - schema:
          type: string
        in: query
        name: vaultId
        required: false
        description: Filter to one vault
      responses:
        '200':
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/def-7'
                  pagination:
                    $ref: '#/components/schemas/def-0'
        '401':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
        '403':
          description: Default Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/def-1'
      operationId: getApiV1CustodyTransfers
      x-operation-id-source: derived
components:
  schemas:
    def-7:
      type: object
      description: A transfer of assets out of a custody vault.
      properties:
        id:
          type: string
        vaultId:
          type: string
        assetId:
          type: string
        amount:
          type: string
          description: Decimal as string
        destAddress:
          type: string
        status:
          type: string
          example: PENDING
        destinationType:
          type: string
          example: ONE_TIME_ADDRESS
        whitelistedAddressId:
          type:
          - string
          - 'null'
        fireblocksTxId:
          type:
          - string
          - 'null'
        note:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
      title: CustodyTransfer
    def-0:
      type: object
      properties:
        total:
          type: integer
          description: Total number of matching records
        page:
          type: integer
          description: Current page number
        perPage:
          type: integer
          description: Records per page
        totalPages:
          type: integer
          description: Total number of pages
      title: PaginationMeta
    def-1:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: T0K-V1-INV-001
            message:
              type: string
              example: Investor not found
      title: ErrorResponse
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key generated at app.t0kenizer.com/ta/api-keys
